# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
.env

# Tooling caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# MLflow local synced store
.mlflow/
mlruns/

# Metaflow
.metaflow/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# OS / editor
.DS_Store
.idea/
.vscode/
